<div class="container">
  <div class="card">
    <div class="card-body text-center">
      بيانات الموظف
    </div>
  </div>
  <form class="p-5">
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">اسم الموظف</label>
        <input type="text" class="form-control" aria-label="First name">
      </div>
      <div class="col">
        <label for="exampleFormControlInput2" class="form-label"> العنوان</label>
        <input type="text" class="form-control" aria-label="address" >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput3" class="form-label"> رقم تليفون</label>
        <input type="text" class="form-control" aria-label="phone">
      </div>
      <div class="col">
        <label for="exampleFormControlInput4" class="form-label">النوع</label>
        <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">أنثى</option>
            <option value="2">ذكر</option>
          </select>
      </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlInput4" class="form-label"> الرقم القومي</label>
          <input type="text" class="form-control" aria-label="NationalID">
        </div>
        <div class="col">
          <label for="exampleFormControlInput5" class="form-label"> الجنسيه</label>
      <input type="text" class="form-control" aria-label="nationality">
        </div>
      </div>
  </form>


  <div class="card">
    <div class="card-body text-center">
      بيانات العمل
    </div>
  </div>
  <form class="p-5">
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label"> تاريخ التعاقد</label>
        <input type="date" id="example" class="form-control">
        </div>
      <div class="col">
        <label for="exampleFormControlInput2" class="form-label"> الراتب</label>
        <input type="text" class="form-control" aria-label="address" >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput3" class="form-label"> موعد الحضور</label>
        <input type="time" id="my-time-input" name="myTime" class="form-control">
      </div>
      <div class="col">
        <label for="exampleFormControlInput3" class="form-label"> موعد الانصراف</label>
        <input type="time" id="my-time-input" name="myTime" class="form-control">
      </div>

      </div>

  </form>


</div>
