.tableStyle{
  padding: 20px;
}
.card{
  box-shadow: 2px 2px 2px 2px rgb(169, 168, 168);
  background-color: rgb(247, 251, 247);
}
button{
  border-radius: 10px;
  padding: 10px;
}
input,select{
  border-radius: 20px;
  padding: 10px;
}

@media print {
  /* Hide unnecessary elements */
  body {
    margin: 0;
    padding: 0;
  }

  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 150px;
  }
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;


  }
}
