<div class="container">
  <div class="card m-5">
    <div class="card-body text-center">
      بيانات المستخدم
    </div>
  </div>


      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>











  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">أضافه مستخدم جديد</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <form class="p-5">
            <div class="row">
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label">اسم المستخدم</label>
                <input type="text" class="form-control" aria-label="First name">
              </div>
              <div class="col">
                <label for="exampleFormControlInput2" class="form-label"> الاسم بالكامل</label>
                <input type="text" class="form-control" aria-label="address" >
              </div>
            </div>
              <div class="row">
                <div class="col">
                  <label for="exampleFormControlInput4" class="form-label"> الرقم السري</label>
                  <input type="text" class="form-control" aria-label="NationalID">
                </div>
                <div class="col">
                  <label for="exampleFormControlInput3" class="form-label">  البريد الالكتروني</label>
                  <input type="text" class="form-control" aria-label="phone">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="exampleFormControlInput4" class="form-label">الصلاحيات</label>
                  <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">أنثى</option>
                      <option value="2">ذكر</option>
                    </select>
                </div>
                </div>
              </div>
          </form>





        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">حفظ</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
هل تريد حفظ التعديلات

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">أضافه مستخدم</button>






</div>
  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">أضافه مستخدم جديد</button>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">أضافه مستخدم</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
  </div>
</div> -->
